@(message: String, style: String = "java")

@defining(play.core.PlayVersion.current) { version =>

    <link rel="stylesheet" media="screen" href="/@@documentation/resources/style/main.css">
	
		
<html>
    <head>

        <title>Lyric Lookup </title>  
    </head>  
    <body>  

        <h1>Welcome to the LyricLookup!</h1> 
        <a href ="search">Search</a>|
        <a href="login">Login</a>|  
        <a href="logout">Logout</a>|  
        <a href="profile">Profile</a>|
        <a href="about">About</a>
		
		<p> "This web application is in development for CSC 435 at SUNY Oswego. It uses the LyricLookup API to search for the lyrics of user submitted songs. Soon, users will be able to add songs to their profiles" </p>


    </body>  
</html>  
}
	