@(message: String, style: String = "java")
@import helper._

@defining(play.core.PlayVersion.current) { version =>

    <link rel="stylesheet" media="screen" href="/@@documentation/resources/style/main.css">
	
	
<html>
    <head>
	
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
<h1>Welcome to the LyricLookup!</h1> 
        <a href ="search">Search</a>|
        <a href="login">Login</a>|  
        <a href="logout">Logout</a>|  
        <a href="profile">Profile</a>|
        <a href="about">About</a>
		<p></p>
		
		
		@helper.form(action=routes.LoginController.loginCred()){
            UserName:<input type="text" name="name"><br>  
            Password:<input type="password" name="password"><br>  
            <input type="submit" value="login">  
			}
        </form>  
    </body>
</html>

}