@(message: String, style: String = "java")
@import helper._

@defining(play.core.PlayVersion.current) { version =>

    <link rel="stylesheet" media="screen" href="/@@documentation/resources/style/main.css">
	
		
<html>
    <head>

        <title>Lyric Lookup </title>  
    </head>  
    <body>  

        <h1>Welcome to the LyricLookup!</h1> 
        <a href ="search">Search</a>|
        <a href="login">Login</a>|  
        <a href="logout">Logout</a>|  
        <a href="profile">Profile</a>|
        <a href="about">About</a>
		
        
       <p> Welcome name to your profile </p>



        </form>  
    </body>
</html>

}
	